body
{
 background-color:#808080;
 margin:0px auto;
 padding:0px;
 font-family:helvetica;
 height:2000px;
}

.size
{
    font-size: 100px;
    
}

.size h1
{
    margin: 50px;
    
}

.size input
{
    font-size: 50px;
    width: 250px;
    height: 70px;
    
}

